@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rubik+Mono+One&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
        background: #111;
        overflow: hidden;
        border-radius: 100%;
    }
    .webimg{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        height: 100vh;
        /* ----------- ��� �������� ���� --------------- */
    }
    .webimg ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        font-size: 13px;
        z-index: 3;
    }
    .webimg ul li{
        display: inline-block;
        width: 130px;
        height: 73px;
        background: #000;
    }
    .webimg ul li button{
        width: 130px;
        height: 60px;
        transition: 0.1s ease-out;
        background: url(img/box1.png);
        background-size: cover;
        background-position: center;
    
    }
    .webimg ul li button:hover{
        transform: translate3d(30px,5px,5px);
        transition: .4s cubic-bezier(.25,1,.5,1),-webkit-transform .4s cubic-bezier(.25,1,.5,1)
    }
    .webimg ul li button:active{
        transform: translate3d(30px,5px,5px);
        transition: 0.1s ease-out;
    }
    .webimg ul li button a{
        color: #fff;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #012F47;
        font-size: 18px;
        text-decoration: none;
        list-style: none;
        text-decoration-line: none;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 600;
        font-style: normal;
    
    }
      /* ----------------------- img box ----------------------- */
    
    .box{
        display: none;
        /* animation: fadeout 0.3s ease; */
    }
    .box::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
    .box::-webkit-scrollbar-thumb{
        background-color: tomato;
        border-radius: 10px;
    }
    .box::-webkit-scrollbar-track{
        background-color: #0008ff;
        border-radius: 0 3px 3px 0;
    }
    .box .close{
        position: absolute;
        display: flex;
        height: 20px;
        top: 0%;
        left: 99%;
        background: #000;
        color: #fff;
        z-index: 66;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        line-height: 20px;
    }
    .box.close:hover{
        background-color: red;
    }
    .on h2{
        display: block;
        font-size: 16px;
        width: 1300px;
        height: 22px;
        border-bottom: 2px solid #fff;
        position: fixed;
        overflow: hidden;
        z-index: 55;
        background: #000;
        border-radius: 3px 3px 0 0;
    }
    .on{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        top: 8%;
        left: 100%;
        visibility: visible;
        width: 1300px;
        height: 700px;
        border: 2px solid #12e2ff;
        box-shadow: #12e2ff 0px 2px 4px 0px, #12e2ff 0px 2px 16px 0px;
        color: #fff;
        border-radius: 3px;
        overflow-y: scroll;
        overflow-x: hidden;
        animation: fadein 0.3s  ease;
    }
    #btn .on{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        top: 5%;
        left: 320%;
        visibility: visible;
        width: 100%;
        height: 700px;
        color: #fff;
        border-radius: 3px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    #box1 .container{
        content: "";
        position: absolute;
        background: #000;
        background-size: cover;
        overflow: hidden;
        background-position: top;
        top: 30px;
        left: 0;
        width: 100%;
        height: 700px;
        border-radius: 0px 0px 3px 3px;
    }
    #box1 span::after{
        content: "";
        position: absolute;
        background: #000;
        overflow: hidden;
        background-size: cover;
        background-position: top;
        left: 0;
        top: 30px;
        width: 100%;
        height: 750px;
        border-radius: 0px 0px 3px 3px;
    }
    #box2 span::after{
        content: "";
        position: absolute;
        background: #000;
        overflow: hidden;
        background-size: cover;
        background-position: top;
        left: 0;
        top: 30px;
        width: 100%;
        height: 750px;
        border-radius: 0px 0px 3px 3px;
    }
    #box3 span::after{
        content: "";
        position: absolute;
        background: #000;
        background-size: cover;
        background-position: top;
        overflow: hidden;
        left: 0;
        width: 100%;
        height: 2030px;
        border-radius: 0px 0px 3px 3px;
    }
    #box4 span::after{
        content: "";
        position: absolute;
        background: #000;
        background-size: cover;
        background-position: top;
        overflow: hidden;
        left: 0;
        width: 100%;
        height: 2030px;
        border-radius: 0px 0px 3px 3px;
    }
    .box p{
        position: absolute;
        bottom: 0;
        display: inline-block;
    }
    .textarea{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(50%, -50%);
    }
    @keyframes right {
        0%{
            transform: translate(-80%,-30%);
            transform: translate(-150px);
        }
        100%{
            transform: translateX(380px);
        }
    }
    .textarea .li{
        position: relative;
        list-style: none;
        z-index: 3;
        color: darkgray;
        width: 380px;
        transform: translate(-80%,-30%);
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        animation: right 5s linear;
    }
    .textarea li:nth-of-type(2){
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .textarea li h1{
        z-index: 3;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #12e2ff;
    }
    .textarea li span{
        z-index: 0;
    }

    .container{
        position: absolute;
        top: -50%;
        left:-20%;
        transform: rotate(15deg) skew(15deg);

    }
    .container .boxbox{
        position: absolute;
        display: block;
        border: 3px solid #12e2ff;
        box-shadow: rgba(255, 0,0,1) 4px 4px 0px 0px,rgba(0, 0, 255, 1)6px 6px 0 0 ,rgba(0, 255,0, 1) 8px 8px 0px 0px;
        width: 200px;
        height: 300px;
        z-index: 1;
    }
    .container .box::after{
        content: "";
        position: absolute;
        width: 1050%;
        left: 0%;
        height: 300px;
        
    }
    .line{
        position: absolute;
        background: url(img/line.png) center/cover;
        top: 80%;
        left: 0%;
        display: block;
        width: 100%;
        height:108px;
        border-radius: 10%;
        box-shadow: rgba(16, 226, 255, 1)0px 8px 8px,rgba(16, 226, 255, 1)1px 5px 5px,rgba(16, 226, 255, 1)0px 15px 15px,rgba(16, 226, 255, 1)0px 8px 8px;
    }
    .circlebox{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 5.3%;
        left: 50%;
        transform: translate(-50% , 10%);
    }
    .circlebox li{
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        width: 100%;
        padding:0 20px;
    }
    .circlebox li img{
        height: 80px;
        width: 80px;
    }
    .circlebox li:nth-of-type(1) .image{
        width: 180px;
        height: 70px;
        margin-right: 60px;
    }
    .circlebox li:nth-of-type(6) .image{
        width: 200px;
        height: 70px;
        margin-left: 60px;
    }
    .circlebox li .rotate{
        animation: circle 8s linear  infinite ;
    }
    @keyframes circle {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
