.button {
    background-color: /*var(--brand-color)*/ blue;
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.2);
}

.checked {
    background-color: gray;
}